:root { 
--gray_50_99:#f8fafc99; 
--white_A700_6c:#ffffff6c; 
--blue_gray_100:#cbd5e1; 
--blue_gray_300:#94a3b8; 
--blue_A700:#2563eb; 
--indigo_50:#e2e8f0; 
--gray_900:#0f172a; 
--light_blue_A200:#38bdf8; 
--blue_gray_500:#64748b; 
--white_A700_0f:#ffffff0f; 
--gray_100:#f1f5f9; 
--teal_300:#34d399; 
--green_A700:#24d063; 
--yellow_800:#f5a722; 
--white_A700_26:#ffffff26; 
--indigo_800_33:#1d3a8a33; 
--deep_purple_A200:#8b5cf6; 
--pink_300:#ec4f9d; 
--white_A700:#ffffff; 
}